
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 0 0 8px 6px #ddd;
 
  /* flex-wrap: wrap;  */
}
.gradeContainer {
  width: 100%;
  height: 450px;
  border-radius: 1.5rem;
  background-color: #1136cb;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: white;
}
.gradeContainer h4 {
  color: #ccc;
  font-weight: 500;
}

.gradeContainer .circle {
  background: linear-gradient(rgba(0, 0, 0, 0.45), #1136cb);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gradeContainer .circle b {
  font-size: 3rem;
}
.gradeContainer .circle small {
  color: #cccccccc;
}
/* .gradeContainer h3 {
   font-size: 1.3rem;
} */
.gradeContainer h3::first-letter{
  font-size: 1.4rem;
}
.gradeContainer .commentary {
  text-align: center;
  width: 50%;
  font-size: 14px;
  line-height: 1.5rem;
  color: #ccc;
}
/*------------------------------------------------ summaryContainer----------------------------------- */

.summaryContainer {
  width: 100%;
  height: 450px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: start;
  overflow-x: hidden;
}
.summaryContainer h4 {
 margin-left: 3rem; 
 /* font-size: larger;              */
}
.summaryContainer article {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 40px;
  padding: 1rem;
  border-radius: 8px;
  align-self: center;
}
.summaryContainer article p {
  letter-spacing:2px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}
 .summaryContainer article.card_1{
   background-color: rgb(243, 213, 213);
}
.summaryContainer article.card_1 div span{
  color: red;
}
 .summaryContainer article.card_2{
   background-color: rgb(241, 241, 162);
}
.summaryContainer article.card_2 div span{
  color:yellowgreen;
}
 .summaryContainer article.card_3{
   background-color: rgb(156, 231, 156);
}
.summaryContainer article.card_3 div span{
  color: green;
}
 .summaryContainer article.card_4{
   background-color: rgb(164, 164, 243);
}
.summaryContainer article.card_4 div span{
  color:blue;
}

.summaryContainer article div {
   display: flex; 
   align-items: center; 
   gap:6px;             
}


.summaryContainer .btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
   
}
.summaryContainer .btnContainer button {
  display: block;
  align-self:center;
  outline: none;
  border: none;
  width:80%;
  padding: 0.5rem;
  border-radius:2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 0.95rem;
  height: 40px;
  cursor: pointer;
   transition: 500ms;
}
.summaryContainer p button:hover{
   background-color: rgba(0, 0, 0, 1);
   transition: 500ms;
}
@media screen and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
    width: 100%;
  }
}
